body {
    padding: 0;
    margin: 0;
    background-color: #703D57;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.conteudo {
    margin-bottom: 50px;
}
.container {
    display: flex;
    height: 100%;
}
.esquerda, .direita {
   flex: 1;
   padding: 20px;
}
img {
    width: 80%;
}
.botoes-cabecalho {
    margin: 50px 30px 50px 30px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.btn-topico {
    color: #703D57;
    font-weight: bold;
    background-color: white;
    margin: 0 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}
.textos {
    margin: 50px;
    color: #ffffff;
}

footer {
    font-size: 20PX;
    position: absolute; 
    bottom: 0; 
    width: 100%;
    color: #ffffff;
    background-color: #D9B8C4;
    display: flex;
    justify-content: center;
}