* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #222222;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
}

.textos {
    font-size: 20px;
    margin: 50px;
    color: #c6acdb;
}

.conteudo {
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.botoes-cabecalho {
    margin: 50px 30px 50px 30px;
    border-radius: 50px;
    background-color: #c6acdb;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.btn-topico {
    color: #222222;
    font-weight: bold;
    background-color: #c6acdb;
    margin: 0 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    width: 150px;
    border-radius: 10px;
    text-decoration: none;
    transition: font-size 0.3s ease;
}

.btn-topico:hover{
    font-size: 20px;
}

img {
    border-radius: 50%;
}

form {
    margin: 20px 0px 0px 50px;
    display: block;
}

label,
input,
button {
    display: block;
    margin-bottom: 10px;
}

input {
    border: none;
    height: 50px;
    width: 450px;
    border-radius: 10px;
}

label {
    color: white;
}

button {
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 80px;
    font-weight: bold;
    border: none;
}

a {
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    background-color: #000000;
    text-decoration: none;
    color: #703D57;
}

footer {
    background: #c6acdb;
    padding: 15px;
    text-align: center;
}