* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

body {
    background-color: #222222;
    font-family: 'Nunito', sans-serif;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
}

section {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    height: calc(100vh - 90px);
}

.textos {
    margin: 110px 50px 0 50px;
    color: #c6acdb;
}

.software-developer {
    color: #ffffff;
}

.conteudo {
    margin-bottom: 50px;
}

.conteudo-esquerda {
    margin: 0px 50px 0px 50px;
}

.terminal-box {
    font-size: 25px;
    font-family: 'Courier New', monospace;
    background-color: #111;
    color: #c6acdb;
    padding: 20px;
    border: 2px solid #c6acdb;
    ;
    border-radius: 10px;
    width: fit-content;
    margin: 100px auto 0 auto;
    box-shadow: 0 0 10px #c6acdb;
    ;
}


.botoes-cabecalho {
    margin: 50px 30px 50px 30px;
    border-radius: 50px;
    background-color: #c6acdb;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.btn-topico {
    color: #222222;
    font-weight: bold;
    background-color: #c6acdb;
    margin: 0 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    width: 150px;
    border-radius: 10px;
    text-decoration: none;
    transition: font-size 0.3s ease;
    display: flex;
    align-items: center;
}

.btn-topico:hover {
    font-size: 20px;
}

button {
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    border: none;
}

.btn-home {
    width: 150px;
    height: 50px;
    margin: 50px 10px 10px 0px;
    background-color: #c6acdb;
    transition: font-size 0.3s ease;
    cursor: pointer;
}

.btn-home:hover {
    font-size: 15px;
}

.btns-home {
    display: flex;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #c6acdb;
}

th,
td {
    padding: 15px;
    text-align: left;
}

th {
    font-size: 1.2rem;
    color: #000000;
}

td {
    font-size: 1rem;
    border-bottom: 1px solid #555;
}

tr:hover {
    background-color: #555;
    transition: 0.3s;
}

.titulo-contato {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.icones-contatos {
    display: flex;
    margin: 75px 120px 0 120px;
}

.github {
    color: #c6acdb;
    margin-right: 50px;
}

.linkedin {
    color: #c6acdb;
}

p {
    color: #ffffff;
    font-size: 20px;
}

a img {
    transition: transform 0.3s ease;
}

a:hover img {
    transform: scale(1.1);
}

footer {
    background: #c6acdb;
    padding: 15px;
    text-align: center;
}